@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

body {
	padding-top: 2em;
	background-image: url(https://dbdzm869oupei.cloudfront.net/img/sticker/preview/27528.png);
}

a {
	text-decoration: none;
	color: #000;
}

a:visited {
	color: #000;
}

a.button {
	display: inline-block;
	background-color: #FFF;
	box-shadow: 0.1em 0.1em 0.3em #C0C0C0;
	border: #ffe8a9;
	border-radius: 0.8em;
	font-size: 1.3em;
	padding: 2em;
	margin: 0 1em;
}

a.button:hover {
	box-shadow: 0 0 0.5em 0.2em #f8c538;
    transition: all 200ms ease-out;
}