/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Colores */
:root {
    --color1: #3f7cff;
    --black: #000000;
    --gray: #999999;
    --white: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--color1);
}

.wrapper {
    width: 420px;
    background: var(--white);
    border-radius: 7px;
    padding: 28px 28px 45px;
}

.wrapper header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.wrapper .search {
    position: relative;
    margin: 35px 0 18px;
}

.search input {
    height: 53px;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 0 42px;
    border-radius: 5px;
    border: 1px solid var(--gray);
}

.search input:focus {
    padding: 0 41px;
    border: 1px solid var(--color1);
}

.search input::placeholder {
    color: #B8B8B8;
}

.search :where(i, span) {
    position: absolute;
    top: 50%;
    color: var(--gray);
    transform: translateY(-50%);
}

.search i {
    left: 18px;
    font-size: 16px;
    pointer-events: none;
}

.search input:focus ~ i {
    color: var(--color1);
}

.search span {
    right: 15px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

.search input:valid ~ span {
    display: block;
}

.wrapper .info-text {
    font-size: 13px;
    color: var(--gray);
    margin: -3px 0 -10px;
}

.wrapper.active .info-text {
    display: none;
}

.info-text span {
    font-weight: 500;
}

.wrapper ul {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

.wrapper.active ul {
    height: auto;
    opacity: 1;
}

.wrapper ul li.word {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.wrapper ul li.item {
    /* margin-bottom: 14px; */
    padding-bottom: 16px;
}

.wrapper ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

ul .word p {
    font-size: 22px;
    font-weight: 500;
}

ul .word span {
    font-size: 12px;
    font-style: italic;
    color: var(--gray);
}

ul .content {
    max-height: 215px;
    overflow-y: auto;
    padding-right: 10px;
}

ul .content::-webkit-scrollbar {
    width: 7px;
}

ul .content::-webkit-scrollbar-thumb{
    background-color: #C0C0C0;
    border-radius: 10px;
}

.content li .details {
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
    border-left: 3px solid var(--color1);
}

.content li .details p {
    font-size: 17px;
    font-weight: 500;
}

.content li .details p span {
    font-size: 10px;
    font-weight: 200;
    font-style: italic;
    color: var(--gray);
}

.content li .details .use {
    font-size: 10px;
    color: var(--gray);
}

.content li .details .meanings {
    font-size: 14px;
    padding-left: 32px;
    padding-bottom: 10px;
}

mark {
    background-color: #ffdb0f;
}

@media only screen and (min-width: 768px) {

    body {
        max-height: 100vh;
    }

    .wrapper {
        width: 50%;
    }

    .content li .details .use {
        font-size: 13px;
    }

}